.container{

    width: 500px;
    height: 100px;
    text-align: center;
    margin-left: 500px;
    margin-top: 30px;
    
    
}
.pen{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
   
}
div{
    text-align: center;
    flex-wrap: wrap;
}
